[user]
	email = sitiom@disroot.org
	name = Ryan Caezar Itang
	signingkey = A31DFEFDEFB80B347319A78CEB390080129A0E48
[core]
	editor = nvim
	autocrlf = false
	pager = delta
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = false

[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[credential]
	helper = 
	helper = /usr/bin/git-credential-manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
